// Colors
$color-primary: #3f5b91;
$color-primary-lighter: #5477bd;
$color-primary-hover: color-mix(in srgb, $color-primary 85%, #fff);
$color-primary-emphasis: color-mix(in srgb, $color-primary 85%, #000);
$color-secondary: #b15e5e;
$color-secondary-hover: color-mix(in srgb, $color-secondary 85%, #fff);
$color-secondary-emphasis: color-mix(in srgb, $color-secondary 85%, #000);
$color-tertiary: #c59c44;
$color-tertiary-hover: color-mix(in srgb, $color-tertiary 85%, #fff);
$color-tertiary-emphasis: color-mix(in srgb, $color-tertiary 85%, #000);
$color-success: #3f9161;
$color-danger: #c54446;
$color-warning: #e2ad49;
$color-info: #3f8191;
$color-grey: #656c72;
$color-lightgrey: #b3b3b3;
$color-lightergrey: #ececec;
$color-dark: #404142;
$color-light: #e8eaf4;
$colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "tertiary": $color-tertiary,
  "success": $color-success,
  "danger": $color-danger,
  "warning": $color-warning,
  "info": $color-info,
  "grey": $color-grey,
  "dark": $color-dark,
);

// Make color variant or emphasized
@function make-color-variant($color, $intensity: 85%) {
  $variant: color-mix(in srgb, $color $intensity, #fff);
  @return $variant;
}
@function make-color-emphasis($color, $intensity: 85%) {
  $emphasis: color-mix(in srgb, $color $intensity, #000);
  @return $emphasis;
}
@function make-color-spread($color, $intensity: 5%) {
  $spread: color-mix(in srgb, $color $intensity, #fff);
  @return $spread;
}
@function make-color-transparent($color, $intensity: 5%) {
  $transparent: color-mix(in srgb, $color $intensity, transparent);
  @return $transparent;
}

@function make-shadow-outlined($color, $size: 0.25rem) {
  $color-spreaded: make-color-spread($color, 75%);
  $color-outlined: make-color-transparent($color-spreaded, 25%);
  @return $color-outlined 0 0 0 $size;
}

@mixin make-hover() {
  &:hover,
  &:focus-visible {
    background-color: var(--base-hover-overlay);
  }
}
@mixin make-hover-0() {
  &:hover,
  &:focus-visible {
    background-color: transparent;
  }
}

@mixin make-text-ellipsised($max-width: 100%) {
  max-width: $max-width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Light theme colors
$base-color: #404142;
$base-color-variant: #656c72;
$base-color-highlight: $color-primary;
$base-color-muted: rgba(0, 0, 0, 0.25);
$base-body: #f1f4f8;
$base-box: #fff;
// $base-border: #f1f1f1;
$base-border: #dee2e6;
$base-border-lighter: #dee2e680;
$base-border-highlighted: $color-lightgrey;
$base-outlined: make-shadow-outlined($color-dark);
$base-outlined-sm: make-shadow-outlined($color-dark, 0.15rem);
$base-hover-overlay: rgba(0, 0, 0, 0.05);
$base-overlay: rgba(0, 0, 0, 0.75);
$base-shadow: #4041421a 0px 2px 8px 0px;
$base-shadow-variant: #4041421a 0px 0px 2px 1px;

// Dark theme colors
$base-night-color: #adbac7;
$base-night-color-variant: #768390;
$base-night-color-highlight: $color-primary-lighter;
$base-night-color-muted: rgba(255, 255, 255, 0.25);
$base-night-body: #1c2128;
$base-night-box: #2e3338;
$base-night-border: rgba(255, 255, 255, 0.25);
$base-night-border-lighter: rgba(255, 255, 255, 0.125);
$base-night-border-highlighted: $color-lightgrey;
$base-night-outlined: make-shadow-outlined($color-light);
$base-night-outlined-sm: make-shadow-outlined($color-light, 0.15rem);
$base-night-hover-overlay: rgba(255, 255, 255, 0.05);
$base-night-overlay: rgba(255, 255, 255, 0.85);
$base-night-shadow: #e8eaf41a 0px 2px 8px 0px;
$base-night-shadow-variant: #e8eaf41a 0px 0px 2px 1px;

// Colors for main content
$color-txt-dark: #404142;
$color-txt-grey: #677483;
$color-txt-light: #fff;
$color-txt-muted: #7d8da1;
$color-bg: #f1f4f8;
// Colors for main content (dark mode)
$color-txt-dark-darkened: #f1f4f8;
$color-txt-grey-darkened: #8194a0;
$color-txt-light-darkened: #404142;
$color-bg-darkened: #202528;

// Layout properties
$main-gutter: 0.75rem;
$header-height: 3.5rem;
$sidebar-width: 11rem;
$sidebar-width-collapsed: 3.5rem;
$rightbar-width: 18rem;
$rightbar-width-collapsed: 3rem;

// Border radius
$radius-sm: 0.25rem;
$radius-md: 0.375rem;
$radius-lg: 0.5rem;
$radius-xl: 1rem;
$radius-rounded: 5rem;
$radius-circle: 50%;

// Box shadow
$shadow-1: rgba(64, 65, 66, 0.1) 0px 2px 8px 0px; // Based on $color-dark
$shadow-1-darkened: rgba(241, 244, 248, 0.1) 0px 2px 8px 0px; // Based on $color-dark
$shadow-outlined: $base-night-color-muted 0 0 0 0.25rem;
$shadow-border: $base-night-color-muted 0 0 0 1px;

// Transition
$transition-0: none;
$transition-1-eio: 0.15s ease-in-out;
$transition-1-ln: 0.15s linear;
$transition-2: all 0.3s ease;
$transition-3: all 0.35s ease-out;
$transition-color-1: color 0.15s linear, background-color 0.15s linear;
$transition-size-1: width 0.15s ease-in-out;
$transition-in-1: 0.2s ease-out;
$transition-out-1: 0.15s ease-in;

// Font properties
$font-size: 1rem;
$font-size-xs: 0.65rem;
$font-size-ss: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-sl: 1.25rem;
$font-size-xl: 1.65rem;
$line-height: 1.25rem;
$line-height-sm: 1rem;

// Input properties
$input-border: 1px solid make-color-spread($color-dark);

// Button properties
$btn-font-size: $font-size-md;
$btn-font-size-sm: $font-size-sm;
$btn-font-size-lg: $font-size-lg;
$btn-font-size-xl: $font-size-xl;
$btn-font-weight: 400;
$btn-line-height: 1.5;
$btn-padding: 0.375rem 0.75rem;
$btn-padding-sm: 0.25rem 0.5rem;
$btn-padding-lg: 0.5rem 1rem;

// Spacing properties
$spacing-xs: 0.5rem;
$spacing-sm: 0.75rem;
$spacing-md: 1rem;
$spacing-lg: 1.25rem;
$spacing-xl: 1.5rem;

// Others properties
$strike-color: #f1f1f1;

// Table properties
$table-cell-padding: 0.5rem;
$table-cell-padding-sm: 0.25rem;
$table-cell-padding-lg: 0.75rem;
$table-hover-color: rgba(0, 0, 0, 0.025);

// Header properties
$header-padding: 0.5rem;
$header-spacing: 0.5rem;

// Breakpoints
$media-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  hd: 1400px,
);
$container-max-widths: (
  xs: 0,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  hd: 1320px,
);

@mixin dark-mode {
  :root[data-theme="dark"],
  .DarkMode {
    @content;
  }
}

:export {
  @each $key, $value in $colors {
    #{unquote($key)}: $value;
  }
}